img {
      margin: 10px 10px;
    }
    input {
      margin: 10px 10px;
    }

    .bojack-7a {
      width: 200px;
      border-radius: 20px;
      cursor: pointer;
    }

    .bojack-7b {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
      border-width: 2px;
      border-color: red;
      border-style: solid;
      cursor: pointer;
    }

    .bojack-7c {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
      border-radius: 100px;
      cursor: pointer;
    }

    .search-box-1 {
      border-radius: 5px;
      width: 200px;
      height: 40px;
      border-style: solid;
      padding: 0px 5px;
    }
    .search-box-2 {
      border-radius: 20px;
      border-style: none;
      width: 350px;
      height: 20px;
      box-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
      padding: 10px;
    }

    .Email-7f {
      color: gray;
      font-size: x-small;
      font-family: Helvetica;
      margin-bottom: 0px;
      margin-left: 10px;
    }
    .email-box {
      width: 245px;
      border-color: black;
      border-style: solid;
      border-width: 1.2px;
      border-radius: 2px;
      margin-bottom: 0px;
    }
    .agree-button {
      font-family: Arial;
      margin-top: 10px;
      border-radius: 20px;
      border-style: none;
      padding: 9px 88px;
      color: white;
      background-color: rgb(16, 112, 197);
      margin-left: 10px;
      cursor: pointer;
    }
    .bojack-7g {
      width: 20px;
      height: 20px;
      object-fit: cover;
      object-position: center;
      border-radius: 25px;
      margin-right: 0px;
      vertical-align: middle;
    }
    .twitter-box {
      border-style: none;
      margin-left: 0px;
      margin-right: 0px;
      padding: 3px;
      vertical-align: middle;
    }
    .twitter-button {
      background-color: rgb(29, 155, 240);
      color: white;
      font-weight: bold;
      border-radius: 25px;
      border-style: none;
      padding: 5px 10px;
      cursor: pointer;
      vertical-align: middle;
    }