.flexbox-12a {
  display: flex;
  flex-direction: row;
}

.flexbox-12b {
  display: flex;
  flex-direction: row;
}

.flexbox-12c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexbox-12d {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  align-items: center;
}

.navigation-container-12e {
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 5px;
  font-family: Arial;
}

.flexbox-row-div {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-between;
  padding: 0 5px;
}

.notification-count-div {
  background-color: rgb(0, 115, 255);
  padding: 1px 8px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

p {
  margin: 0;
  font-family: Arial;
}

div {
  margin: 0;
  font-family: Arial;
}

.friend-suggestions-div {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.account-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic-img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 25px;
  object-position: top;
}

.account-details {
  flex: 1;
}

.account-name-p {
  font-weight: bold;
}

.follow-button {
  width: 70px;
  height: 30px;
  background-color: rgb(0, 136, 255);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.alias-p {
  color: gray;
}

.popular-p {
  color: gray;
  font-size: x-small;
}

.header-container-12f {
  background-color: rgb(120, 82, 178);
  margin: 10px;
  align-content: center;
}

.header-flexbox-12f {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 10px;
  padding: 10px;
  color: white;
}

.home-12f-p {
  font-weight: bold;
  align-content: center;
  cursor: pointer;
}

.search-12f {
  flex: 1;
  max-width: 500px;
  margin: 0 35px;
  border-radius: 15px;
  border: none;
  padding: 0 15px;
}

.download-button-12f {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 2px;
  background-color: rgb(120, 82, 178);
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
}