p {
  font-family: arial;
  /* margin-top: 0;
      margin-bottom: 0; */
}

.exercise-5a {
  font-family: Tahoma;
  font-weight: bold;
}

.exercise-5b-1 {
  font-weight: bold;
  margin-bottom: 0;
}

.exercise-5b-2 {
  font-size: x-small;
  font-style: italic;
  color: red;
  margin-top: 0;
}

.exercise-5c-1 {
  font-family: verdana;
  font-weight: bold;
  margin-bottom: 0;
}

.exercise-5c-2 {
  font-family: verdana;
  font-size: xx-small;
  margin-top: 0;
  color: gray;

}

.exercise-5c-3 {
  font-family: verdana;
  font-size: xx-small;
  margin-top: 0;
  width: 160px;
}

.exercise-5c-4 {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 2px;
}

.exercise-5c-4:active {
  box-shadow: none;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 0;
}

.exercise-5d-1 {
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.exercise-5d-2 {
  font-size: xx-small;
  text-align: center;
}

.exercise-5d-3 {
  font-size: xx-small;
  text-align: center;
  cursor: pointer;
}

/* Challenge Exercises */
.exercise-5e-1 {
  font-size: xx-small;
  font-weight: bold;
  color: rgb(255, 164, 28);
  text-align: center;
  margin-bottom: 0;
}

.exercise-5e-2 {
  font-size: small;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0
}

.exercise-5e-3 {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

.exercise-5e-4 {
  font-size: x-small;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

.exercise-5e-5 {
  color: white;
  background-color: rgb(16, 112, 197);
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

.exercise-5f-1 {
  font-size: large;
  /* font-weight: bold; */
  margin-top: 3px;
  margin-bottom: 3px;
}

.exercise-5f-currency {
  color: gray;
  font-size: x-small;

  font-weight: lighter;
}

.exercise-5f-2 {
  color: green;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: xx-small;
}

.exercise-5f-3 {
  color: gray;
  font-size: xx-small;
  margin-top: 3px;
  margin-bottom: 3px;
}

.exercise-5f-afterhours {
  color: red;
  font-weight: lighter;
}

/* 5g */
.exercise-5g-1 {
  font-size: x-small;
  font-weight: bold;
}

.exercise-5g-freecodecamp {
  color: gray;
  font-weight: normal;
}

.exercise-5g-2 {
  width: 420px;
  font-size: small;
}

.exercise-5g-3 {
  font-size: small;
}

.exercise-5g-chp {
  cursor: pointer;
}