div {
/*  border-style: solid;
  border-color: red;
  border-width: 0.1px; */
}

p {
  /* border-style: solid;
  border-color: blue;
  border-width: 0.1px; */
  font-family: Roboto, Arial;
  margin: 0;
}

body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  font-family: Roboto, Arial;
}