/* General styles for the entire page */
p {
  /* border-style: solid;
  border-color: blue;
  border-width: 0.1px; */
  font-family: Roboto, Arial;
  margin: 0;
}

body {
  margin: 0;
  padding: 80px 24px 40px 96px;
  background-color: rgb(248, 248, 248);
  font-family: Roboto, Arial;
}

@media (min-width: 1350.1px) {
  body {
    margin-left: 168px;
  }
}