/* Styles for the video grid and video items */
.thumbnail-row-container {
  margin-bottom: 8px;
  position: relative;
}

.thumbnail {
  width: 100%;
}

.video-time {
  font-family: Roboto, arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 11px;
  right: 4px;

}

.video-title-p {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-link {
  color: black;
  text-decoration: none;

}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-pic-img {
  width: 36px;
  border-radius: 25px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  column-gap: 16px;
  row-gap: 40px;
}

/* activates only if window size if < 600px */
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px ) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-title-p {
    font-size: 16px;
    line-height: 24px;
  }

  .video-author,
  .video-stats {
    font-size: 14px;
  }
}

.profile-picture-container {
  position: relative;
  display: inline-block;
}

.channel-tooltip {
  width: 200px;
  position: absolute;
  top: 55px;
  display: flex;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  padding: 12px;
  z-index: 300;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 0.25s;
  align-items: center;
}

.channel-tooltip-picture {
  border-radius: 30px;
  object-fit: cover;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.channel-tooltip-columnB {
  line-height: 23px;
}

.channel-tooltip-name {
  font-weight: bold;
}

.channel-tooltip-stats {
  color: gray;
  font-size: small;
}

/* Target child CSS class (channel-tooltip) with a pseudo class (hover) */
.profile-picture-container:hover .channel-tooltip {
  opacity: 1;
}