.thumbnail-row-container {
  margin-bottom: 12px;
  position: relative;
}

.thumbnail {
  width: 100%;
}

.video-time {
  font-family: Roboto, arial;
  font-size: 12px;
  font-weight: 500px;
  padding: 4px 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  
}

.video-title-p {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  /* align-items: center; */
  /* Centers items vertically */
  justify-items: center;
  /* Centers items horizontally */
}

.profile-pic-img {
  width: 40px;
  border-radius: 25px;

  align-items: center;
  vertical-align: middle;
  object-position: center;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}